<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.dinotec"
	android:versionCode="1"
	android:versionName=""
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="26"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<application
		android:icon="@drawable/icon"
		android:label="Neplus 2020"
		android:theme="@style/DarkTheme">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Neplus 2020"
			android:screenOrientation="landscape">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
			  <action android:name="android.intent.action.MAIN"/>
			  <category android:name="android.intent.category.IOT_LAUNCHER"/>
			  <category android:name="android.intent.category.DEFAULT"/>
			  </intent-filter>
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<service android:name=".serverservice">
		</service>
		<receiver android:name=".serverservice$serverservice_BR">
		</receiver>
	</application>
</manifest>